# Gruppenname: MOS_WWI24A_Event_Manager_TB_NS_MS_MS_FW
# Projektname: Event Planer
# Projektmitglieder: Timo Becker, Nils Scharnbacher, Mursel Semsedini, Maximilian Sturm, Fabian Wiedenmeyer
# GitHub: https://github.com/DevMX808/MOS_WWI24A_Event_Planer_TB_NS_MS_MS_FW

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# User-specific files
.idea/
*.iml
